apache-beam==2.48.0 ; python_version >= "3.10" and python_version < "3.11"
apache-flink-libraries==1.18.0 ; python_version >= "3.10" and python_version < "3.11"
apache-flink==1.18.0 ; python_version >= "3.10" and python_version < "3.11"
avro-python3==1.10.2 ; python_version >= "3.10" and python_version < "3.11"
certifi==2024.2.2 ; python_version >= "3.10" and python_version < "3.11"
cffi==1.16.0 ; python_version >= "3.10" and python_version < "3.11" and platform_python_implementation == "PyPy"
charset-normalizer==3.3.2 ; python_version >= "3.10" and python_version < "3.11"
cloudpickle==2.2.1 ; python_version >= "3.10" and python_version < "3.11"
crcmod==1.7 ; python_version >= "3.10" and python_version < "3.11"
dill==0.3.1.1 ; python_version >= "3.10" and python_version < "3.11"
dnspython==2.6.1 ; python_version >= "3.10" and python_version < "3.11"
docopt==0.6.2 ; python_version >= "3.10" and python_version < "3.11"
fastavro==1.9.4 ; python_version >= "3.10" and python_version < "3.11"
fasteners==0.19 ; python_version >= "3.10" and python_version < "3.11"
find-libpython==0.4.0 ; python_version >= "3.10" and python_version < "3.11" and platform_system != "Windows"
grpcio==1.63.0 ; python_version >= "3.10" and python_version < "3.11"
hdfs==2.7.3 ; python_version >= "3.10" and python_version < "3.11"
httplib2==0.22.0 ; python_version >= "3.10" and python_version < "3.11"
idna==3.7 ; python_version >= "3.10" and python_version < "3.11"
kafka-python==2.0.2 ; python_version >= "3.10" and python_version < "3.11"
numpy==1.24.4 ; python_version >= "3.10" and python_version < "3.11"
objsize==0.6.1 ; python_version >= "3.10" and python_version < "3.11"
orjson==3.10.3 ; python_version >= "3.10" and python_version < "3.11"
pandas==2.2.2 ; python_version >= "3.10" and python_version < "3.11"
pemja==0.3.0 ; python_version >= "3.10" and python_version < "3.11" and platform_system != "Windows"
proto-plus==1.23.0 ; python_version >= "3.10" and python_version < "3.11"
protobuf==4.23.4 ; python_version >= "3.10" and python_version < "3.11"
py4j==0.10.9.7 ; python_version >= "3.10" and python_version < "3.11"
pyarrow==11.0.0 ; python_version >= "3.10" and python_version < "3.11"
pycparser==2.22 ; python_version >= "3.10" and python_version < "3.11" and platform_python_implementation == "PyPy"
pydot==1.4.2 ; python_version >= "3.10" and python_version < "3.11"
pymongo==4.7.2 ; python_version >= "3.10" and python_version < "3.11"
pyparsing==3.1.2 ; python_version >= "3.10" and python_version < "3.11"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "3.11"
pytz==2024.1 ; python_version >= "3.10" and python_version < "3.11"
regex==2024.5.15 ; python_version >= "3.10" and python_version < "3.11"
requests==2.31.0 ; python_version >= "3.10" and python_version < "3.11"
six==1.16.0 ; python_version >= "3.10" and python_version < "3.11"
typing-extensions==4.11.0 ; python_version >= "3.10" and python_version < "3.11"
tzdata==2024.1 ; python_version >= "3.10" and python_version < "3.11"
urllib3==2.2.1 ; python_version >= "3.10" and python_version < "3.11"
zstandard==0.22.0 ; python_version >= "3.10" and python_version < "3.11"
